/*big screens*/
@media only screen and (min-width: 1000px) {
    .navbar {
        top: 0;
        height: 5rem;
    }

    .navbar-brand {
        font-size: 30px;
        height: 10px;
        line-height: 2px;
    }

    .navbar-nav {
        font-size: 25px;
        height: 13px;
        line-height: 2px;
    }
    
}
/*small screens*/

@media only screen and (max-width: 1000px) {


}
